/* Styles for Web Design Lab Portfolio Project
 *
 * It's a good idea to keep a comment up here at the top of the file with useful
 * information for anyone trying to read the file: notes, hints, etc. One very valuable
 * piece of information is who to talk to about this file if you have questions! Hence:
 *
 * Author: Paul Mazaitis
*/

/* This is a CSS Comment; note the comment syntax is different from what we use to mark up comments in HTML! */

/* Page styles after this comment */

/**** Importing Fonts 

Importing two fonts, Avro and Cabin. 

I'm bringing in the bold (700) weight of Arvo, and giving myself the flexibilitiy of Cabin in both roman and italic. I set this up with the "CUSTOMIZE" tab in google fonts.

Google Fonts reports that using these three fonts will make my font load time "moderate" - I probably don't want any more than this. 

*/

@import url('https://fonts.googleapis.com/css?family=Arvo:700|Cabin:400,400i');
@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script');

/**** A note on format: brace styles

For this css file, I'm going to be using this brace style:

  selector {
    property: value;
    property: value;
  }

...because that makes the code formatter happy. It's also 
reasonable to use this brace style:

  selector 
  {
    property: value;
    property: value;
  }

I would avoid doing things like this:

  selector {property: value; property: value;}

It's more compact, but makes editing harder.

The real take away: be consistant! There will often be style 
guides if you're working with a group; use them!

*/

/* Set up body font */

body {
  /* Let's use Cabin, with fallbacks */
  font-family: Cabin, Arial, Helvetica, sans-serif;
  /* Let the text breathe a bit */
  line-height: 1.4;
}

/* Set up the section headings */

main h1,
main h2,
main h3 {
  font-family: Arvo, Arial, Helvetica, sans-serif;
  font-weight: 700;
  /* Bretty heavy weight, so I back off the text color here */
  color: grey;
}

/* Let's make the links only show underline on hover */

a {
  color: firebrick;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Make main thinner to improve line width, and center it using the margin auto trick */

main {
  max-width: 700px;
  margin: 0px  auto;
}

/* Redice the size of the image a bit, and center it with the same trick */

main img {
  display: block; /* if we don't do this, the margin trick doesn't work */
  width: 200px;
  margin: 20px  auto;
}

header div {
  background-color: blue;
  width: 300px;
  height: 160px;
  border-radius: 20px;
  margin: 50px auto;
  transform: rotate(-7deg);
}

header h1 {
  color: white;
  font-size: 450%;
  text-align: center;
  margin-bottom: 0px;
}

header h2 {
  font-family: 'Nanum Pen Script', cursive;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  width: 260px;
  font-size: 200%;
  margin: 0px auto 0px auto;
}

footer {
  background-color: blue;
  color: white;
  padding: 15px;
  border-radius: 15px;
  text-align: center;
  max-width: 700px;
  margin: 50px auto 0px  auto;
}